version: "3"
services:
  shadowsocks-rust:
    image: teddysun/shadowsocks-rust
    container_name: shadowsocks-rust
    volumes:
      - "/home/{{ vpn_username }}/shadowsocks-rust/config.json:/etc/shadowsocks-rust/config.json"
    ports:
{% for peer in shadowsocks_peers %}
      - {{ peer.port }}:{{ peer.port }}/tcp
      - {{ peer.port }}:{{ peer.port }}/udp
{% endfor %}
    restart: always
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: shadowsocks-rust
    depends_on:
      - shadowsocks-rust
    restart: always