{
    "servers": [
{% for peer in shadowsocks_peers %}
        {
            "address": "0.0.0.0",
            "port": {{ peer.port }},
            "password": "{{ peer.password }}",
            "method": "chacha20-ietf-poly1305",
            "plugin": "v2ray-plugin",
            "plugin_opts": "server",
            "fast_open": false,
            "reuse_port": true,
            "timeout": 60
        }{%- if not loop.last -%},{%- endif %}
{% endfor %}
    ]
}
